body{

    background-color: #272727;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s
}

#loginbutton{
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    top:10px;
    right: 10px;

    text-align: center;
    background-color: rgb(101, 111, 255);
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

#loginbutton:hover{
    opacity: 0.7;
}

h1{
    text-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

h2{
    padding: 10px;
    text-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

#button{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    width: auto;

    border-radius: 5px;
    border: none;
    background-color: rgb(101, 111, 255);
    color: #fff;
    font-size: 20px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* icons */

.fa-chevron-circle-down{
    float: left;
    cursor: pointer;
}

.socialnetwork{
    margin-right: 110px;
    margin-top: -38px;
    float:right;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(101, 111, 255);

  }

.fas {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(101, 111, 255);
 

  }

.fab {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: rgb(101, 111, 255);
    font-size: 25px;
    
  }

  
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }

.fab:hover{
    opacity: 0.7;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #121212;

    border-bottom: solid 5px rgb(101, 111, 255);
    transition: 0.2s;
}

#logo{
    position: fixed;
    padding: 10px;
    margin-top: 0px;

    font-family: 'Baloo Chettan', cursive;
    font-size: 30px;
    color: #fff;
    background-color: rgb(101, 111, 255);
}


#moon{
    position: absolute;
    display: none;
    padding: 10px;
    margin: 10px;
    bottom: 0;
    right: 0;

    border-radius: 5px;
    background-color: #fff;
    color: rgb(101, 111, 255);
    cursor: pointer;
}

#sun{
    position: absolute;
    display: block;
    padding: 10px;
    margin: 10px;
    bottom: 0;
    right: 0;

    border-radius: 5px;
    background-color: #fff;
    color: rgb(101, 111, 255);
    cursor: pointer;
}
/* menu */

#chk:checked ~ #principal{
    transform: translateY(400px);
}

.menu{
    position: fixed;
    margin-top: -400px;
    height: 400px;
    width: 100%;
    position: fixed;
    background-color: rgb(101, 111, 255);
    top: 0;
    left: 0;
    overflow: auto;
    transition: all .2s;
    box-shadow: 5px 0px 15px 5px rgba(0,0,0,0.2);

}

.submenu{
    display: inline-block;
    padding: 10px;
    width: auto;

    background-color: #fff;
    border-radius: 5px;
    color: #000;
    
}

#subtitle{
    color: #fff;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
}

#subitem{
    color: rgb(101, 111, 255);
}

.projects{
    margin-left: 400px;
}

.menuitems{
    margin-top: 20px;
    margin-left: 200px;
}

.items{
    padding: 10px;

    color: rgb(101, 111, 255);
    transition: 0.2s;
}

.items.active{
    border-bottom: solid 2px rgb(101, 111, 255);
}

.items:hover{
    border-bottom: solid 2px rgb(101, 111, 255);
    
}

/* slide */

.slide{
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 512px;

    text-align: center;
    background-image: url("../_data/cities.jpeg");
    box-shadow: 5px 0px 15px 5px rgba(0,0,0,0.2);
}

#slidetitle{
    margin-top: 100px;

    font-size: 48px;
    color:#fff;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

#slidebutton{
    display: inline-block;
    padding: 20px;

    width: auto;

    border-radius: 5px;
    background-color: rgb(101, 111, 255);
    color: #fff;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

#chk{
    display: none;
}
/* section */
section{
   
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
    color: #fff;
    background-color: #121212;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
}

.frist{
    margin-top: 650px;
   
    background-image: url("../_data/caiolab.jpeg");
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 5px rgb(101, 111, 255);

    

}

.second{
    margin-top: 60px;

    background-image: url("../_data/open.jpeg");
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 5px rgb(101, 111, 255);
    
}

.third{
    margin-top: 60px;

    background-image: url("../_data/tech.jpeg");
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 5px rgb(101, 111, 255);
  
}

#sectiontitle{
    font-size: 40px;
    font-weight: bold;
}

/* footer */

footer{
    position: absolute;
    display: inline-block;
    
    left: 0;

    
    width: 100%;
    height: auto;

    border-top: solid 5px rgb(101, 111, 255);
    background-color: #121212;
    color: rgb(101, 111, 255);
    transition: 0.2s;
}


.patrons{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;

    border-bottom: solid 5px rgb(101, 111, 255);
}

#corpyright{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.footercontent{
    float: right;
}

#footeritem{
    padding: 20px;
    margin-right: 20px;
    color: #fff;
}

.linkpatrons{
    padding-right: 20px;
    width: auto;
    height: 60px;
}

@media screen and (max-width: 800px){
    .socialnetwork{
        display: none;
    }
    .menuitems{
        display:none;
    }
    .frist{
        background-position-x: 50%;
        background-size: 300%;
       
    
        
    
    }
    
    .second{
        background-position-x: 50%;
        background-size: 300%;

        
    }
    
    .third{
        background-position-x: 50%;
        background-size: 300%;
   
      
    }
}
    
